<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="VLinkConnection" connectionString="Server=P6230003\VLINKDB; Initial Catalog=VLink106466; User=VLink106466; Password=GreenCo2017; Integrated Security=False; " providerName="System.Data.SqlClient"/>
   
  </connectionStrings>

  <system.web>
      <compilation debug="true" targetFramework="4.0" />

    <membership defaultProvider="VLinkProvider">
      <providers>
        <!--Clear out any other providers so there is no other access method -->
        <clear/>
        <!--Add a customized SqlMembershipProvider -->
        <add name="VLinkProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="VLinkConnection" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="VLink WebService" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    
    
    </system.web>

</configuration>
